@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- animation navbar ------ */
/* Navbar.css */

/* Add transition for the cart modal sliding in and out */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

/* Initially hide the cart modal off-screen to the right */
.translate-x-full {
  transform: translateX(100%);
}

/* Move the cart modal into view */
.translate-x-0 {
  transform: translateX(0);
}

/* Scroll Styling */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.scroll-style::-webkit-scrollbar {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: rgb(66, 245, 141) rgb(66, 245, 141);
}
